<!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{% t about %}</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image"><h4>起航</h4></div>
              <div class="timeline-panel">
                <div class="timeline-body">
                  <p class="text-muted">
十体科技创立于2019年，是由墨尔本大学海归发起并且创立的物联网科技公司，目前入驻了杭州滨江区海外高层次人才创新创业基地。
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image"><h4>能力</h4></div>
              <div class="timeline-panel">
                <div class="timeline-body">
                  <p class="text-muted">
我们的团队由拥有多年海外物联网开发管理经验的技术员主导，致力于把国外成熟的无线展示以及投屏系统和智能云屏项目引入中国市场。

                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image"><h4>目标</h4></div>
              <div class="timeline-panel">
                <div class="timeline-body">
                  <p class="text-muted">
我们致力于把物联技术带入多媒体展示，以互联网技术变革现有的多媒体播放方案，降低多媒体运营的技术壁垒。
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image"><h4>方法</h4></div>
              <div class="timeline-panel">
                <div class="timeline-body">
                  <p class="text-muted">
我们采用了一站式网页管理以及物联技术和大数据分析帮助多媒体运营商实现跨地域和实时高效的同步播放。
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image"><h4>市场</h4></div>
              <div class="timeline-panel">
                <div class="timeline-body">
                  <p class="text-muted">
我们的方案适合各阶段的多媒体运营商甚至个人，并且将不断的开拓创新，推动我国第三代的互动型数字告示系统的发展。
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>开拓创新
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
