<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% t portfolio %}</h2>
                    <h3 class="section-subheading text-muted">{% t investment%}</h3>
                </div>
            </div>
            <div class="row">
              <p class="text-muted text-center">
              <span>十体科技是一个非常年轻的物联网科技公司;</span><br/>
              <span>我们有专业的技术团队和丰富的物联网系统的开发经验;</span><br/>
              <span>我们对物联网事业充满热情也欢迎有热情的你的加入。</span>
              </p>
            </div>
        </div>
    </section>
